.login-form {
  width: 100%;

  .form-check-label {
    position: absolute;
    top: 0;
    left: 24px;
    font-size: 16px;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
}

.modal-terms {
  font-size: 16px;

  .modal-body {
    >div {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  .terms-number {
    color: #007bff;
    font-size: 18px;
  }

  li {
    list-style-type: '-';
    margin-left: 12px;
    padding-left: 4px;
  }
}
